# =========================
# OS / System
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/

# =========================
# Python (Backend)
# =========================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Env & Secrets
# =========================
.env
.env.*
.env.local

service_account.json
encoded.txt

# =========================
# Databases
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Frontend (Next.js)
# =========================
node_modules/
.next/
out/
build/
coverage/

# =========================
# Vercel
# =========================
.vercel

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts