# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Secrets
.env
service_account.json
encoded.txt
resumes.db
job_post.db
*.sqlite3
*.db

# System files
.DS_Store
*.log
#testing files
test_openai.py
reset_demo_data_resumes.py
reset_demo_job_description.py